<?xml version="1.0"?>
<config>
    <modules>
        <Proximity_Campaign>
            <version>0.1.1</version>
        </Proximity_Campaign>
    </modules>
    <global>
        <helpers>
            <campaign>
                <class>Proximity_Campaign_Helper</class>
            </campaign>
        </helpers>
        <blocks>
            <campaign>
                <class>Proximity_Campaign_Block</class>
            </campaign>
        </blocks>
        <models>
            <campaign>
                <class>Proximity_Campaign_Model</class>
                <resourceModel>campaign_mysql4</resourceModel>
            </campaign>
            <campaign_mysql4>
                <class>Proximity_Campaign_Model_Mysql4</class>
                <entities>		  
                    <campaign>
                        <table>proximity_campaign</table>
                    </campaign>
                </entities>
            </campaign_mysql4>
        </models>
        <resources>
            <campaign_setup>
                <setup>
                    <module>Proximity_Campaign</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </campaign_setup>
            <campaign_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </campaign_write>
            <campaign_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </campaign_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <campaign>
                    <file>campaign.xml</file>
                </campaign>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <campaign>
                <use>admin</use>
                <args>
                    <module>Proximity_Campaign</module>
                    <frontName>admin_campaign</frontName>
                </args>
            </campaign>
        </routers>
    </admin>
</config> 